* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

main {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.seccionTabla {
    width: 100%;
    
}

h2 {
    text-align: center;
}

table {
    border: 1px solid black;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}